@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
  font-size: 10px !important;
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none !important;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.btn-group .btn:not(:last-child) {
  margin-right: 1em;
}

.btn {
  padding: 1em 1.7em;
  border: 2px solid #0050a2;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
}

.btn-primary {
  background: #0050a2;
  color: white;
}

body {
  font-family: "Raleway", sans-serif;
  background: #fff;
  width: 100vw !important;
  overflow-x: hidden !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.header nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  height: 100%;
  width: 80vw;
  color: #0c3c7c;
  padding: 5em 0;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: none;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.header nav ul li {
  font-size: 1.6rem;
  line-height: 1.6rem;
  cursor: pointer;
  padding: 0.5em;
  font-weight: bold;
}

.header nav ul li a {
  color: #0c3c7c;
}

.header nav ul li:hover a {
  color: white !important;
}

.header nav ul li.active {
  background-color: #0050a2;
  border-radius: 10px;
}

.header nav ul li.active a {
  color: white;
}

.header nav .close svg {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2em;
  cursor: pointer;
}

.header .open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .burger {
  cursor: pointer;
}

.header .burger svg {
  width: 3em;
  height: 3em;
}

main {
  /*
        Club page
    */
}

main #banner {
  min-height: 85vh;
}

main #banner .hero {
  padding-inline: 3em;
}

main #banner .hero .hero__desc .title {
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem !important;
  line-height: 5rem;
  letter-spacing: 0.2px;
  color: #0050a2;
}

main #banner .hero .hero__desc p {
  margin-top: 1em;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 3.6rem;
  color: #183b56;
}

main #banner .hero .hero__desc cite {
  font-size: 1.6rem;
  font-weight: bold;
}

main #banner .hero .hero__slide img {
  width: 100%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

main #banner .hero .hero__slide .uk-position-center-left {
  background: #16133d;
  border-radius: 5px;
  left: -30px;
  width: 34px !important;
  height: 34px !important;
}

main #banner .hero .hero__slide .uk-position-center-right {
  background: #16133d;
  border-radius: 5px;
  right: -30px;
  width: 34px !important;
  height: 34px !important;
}

main #banner .district-section {
  display: block;
  background: #f7a81b;
  background-blend-mode: multiply;
  margin-top: 4em;
}

main #banner .district-section .district-adress {
  padding: 1em 3em;
}

main #banner .district-section .district-adress h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 0.5em 0;
}

main #banner .district-section .district-adress span {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  color: #ffffff;
}

main #banner .district-section .district-adress p {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #ffffff;
}

main #banner .district-section .become-member {
  background-image: url(../images/palmier.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
}

main #banner .district-section .become-member a {
  background: #ffffff;
  -webkit-box-shadow: 0px 0.71837px 33px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 0.71837px 33px rgba(0, 0, 0, 0.58);
  border-radius: 5.74694px;
  border: unset;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  color: #0050a2;
  padding: 0.5em 1em;
}

main #banner .mandat-logo {
  display: block;
  padding: 1em 3em;
  margin-block: 4em;
}

main #banner .mandat-logo p {
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4.2rem;
  word-break: break-word;
  color: #0050a2;
  margin-bottom: 1em;
}

main #fanion {
  background: #0c3c7c;
  padding: 3em;
  color: white;
}

main #fanion .fanion-desc h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 5rem !important;
  line-height: 5rem;
  letter-spacing: 0.2px;
  margin-bottom: 1em;
  color: white;
}

main #fanion .fanion-desc p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: justify;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
}

main #word-of-president {
  margin-block: 4em;
  padding: 3em;
}

main #word-of-president .president-bio {
  margin-bottom: 2em;
}

main #word-of-president .president-bio .info {
  margin-bottom: 1.5em;
}

main #word-of-president .president-bio .info h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 4.2rem;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  color: #183b56;
}

main #word-of-president .president-bio .info p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.2px;
  color: #183b56;
}

main #word-of-president .word h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 4rem;
  color: #0050a2;
  margin-bottom: 1em !important;
}

main #word-of-president .word p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.2px;
  color: #7690a8;
  text-align: justify;
}

main .follow-us {
  background: #0050a2;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 4rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 1em;
  margin-bottom: 4em;
}

main #don {
  padding: 3em;
}

main #don .card-body {
  padding-top: 2em !important;
}

main #don .card-body .event-date {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.64;
  margin-top: 1em;
}

main #don .card-body .theme {
  margin-top: 0.5em;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  color: #0050a2;
}

main #don .card-body .location {
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: #f7a81b;
  margin-top: 0.5em;
}

main #don .uk-position-center-left {
  background: #16133d;
  border-radius: 5px;
  left: -30px;
  width: 34px !important;
  height: 34px !important;
}

main #don .uk-position-center-right {
  background: #16133d;
  border-radius: 5px;
  right: -30px;
  width: 34px !important;
  height: 34px !important;
}

main #don .uk-dotnav > * > * {
  background: #d9dbe1;
  opacity: 0.6;
}

main #don .uk-dotnav > .uk-active > * {
  background-color: #f7a81b;
  width: 16px;
  border-radius: 100px;
  border-color: transparent;
}

main #important-date {
  padding: 3em;
}

main #important-date .admission-date,
main #important-date .charte-date {
  text-align: center;
}

main #important-date .admission-date h6,
main #important-date .charte-date h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.16478px;
  text-transform: uppercase;
  color: #f7a81b;
  margin-bottom: 0;
}

main #important-date .admission-date .date,
main #important-date .charte-date .date {
  font-style: normal;
  font-weight: 600;
  font-size: 4.4rem;
  line-height: 5rem;
  letter-spacing: 0.16478px;
  color: #0050a2;
}

main .members {
  padding: 3em;
  text-align: center;
}

main .members h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.16478px;
  text-transform: uppercase;
  color: #f7a81b;
  margin-bottom: 0;
}

main .members .date {
  font-style: normal;
  font-weight: 600;
  font-size: 4.4rem;
  line-height: 5rem;
  letter-spacing: 0.16478px;
  color: #0050a2;
}

main .certificat {
  padding: 3em;
}

main .members-btn {
  padding: 3em;
  text-align: center;
}

main .members-btn a {
  background: #0050a2;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */
  color: #ffffff;
}

main #mandats {
  padding: 3em;
}

main #mandats .mandat-item {
  padding: 2em 1.5em;
  background: #0050a2;
  mix-blend-mode: multiply;
  border-radius: 16px;
  margin-bottom: 2em;
  color: white;
}

main #mandats .mandat-item .details .periode {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.2px;
  margin-bottom: .5em;
}

main #mandats .mandat-item .details .theme {
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.2px;
}

main #mandats .mandat-item .details h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.2px;
  color: #f7a81b;
}

footer {
  background: #0c3c7c;
  padding: 3em;
}

footer .first-line {
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
}

footer .first-line div {
  margin-bottom: 0.5em;
}

footer .first-line .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .first-line .social-media svg {
  width: 32px;
  height: 32px;
  margin-right: 0.5em;
}

footer .second-line {
  margin-top: 2.5em;
  margin-inline: auto;
}

footer .copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 2.8em;
  color: #efeef3;
  text-align: center;
  margin-top: 1em;
}

@media screen and (min-width: 950px) {
  #banner .hero {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
  #banner .hero .hero__desc .title {
    font-style: normal;
    font-weight: 600;
    font-size: 4.5rem !important;
    line-height: 5rem;
    letter-spacing: 0.2px;
    color: #0050a2;
  }
  #banner .hero .hero__desc p {
    margin-top: 1em;
    font-style: normal;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 3.6rem;
    color: #183b56;
  }
  #banner .hero .hero__desc cite {
    font-size: 1.6rem;
    font-weight: bold;
  }
  #banner .district-adress-wrapper {
    background: #f7a81b;
    padding-inline: 3em;
  }
  #banner .district-adress-wrapper .district-section {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-blend-mode: multiply;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
  #banner .district-adress-wrapper .district-section .district-adress h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 3.3rem;
    line-height: 2.2rem;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin: 1em 0;
  }
  #banner .district-adress-wrapper .district-section .district-adress span {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: #ffffff;
  }
  #banner .district-adress-wrapper .district-section .district-adress p {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.8rem;
    color: #ffffff;
  }
  #banner .district-adress-wrapper .district-section .become-member {
    background-image: url(../images/palmier.jpg);
    background-blend-mode: multiply;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #banner .district-adress-wrapper .district-section .become-member a {
    background: #ffffff;
    -webkit-box-shadow: 0px 0.71837px 33px rgba(0, 0, 0, 0.58);
            box-shadow: 0px 0.71837px 33px rgba(0, 0, 0, 0.58);
    border-radius: 5.74694px;
    border: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #0050a2;
    padding: 0.5em 1em;
  }
  #banner .mandat-logo {
    padding-inline: 3em;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    gap: 5em;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
  #banner .mandat-logo p {
    font-size: 3.4rem !important;
  }
  #fanion .fanion-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5em;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
  #fanion .fanion-wrapper .fanion-desc h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.2px;
    margin-bottom: 1em;
  }
  #fanion .fanion-wrapper .fanion-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
    -webkit-font-feature-settings: "salt" on, "liga" off;
            font-feature-settings: "salt" on, "liga" off;
  }
  #fanion .fanion-wrapper .fanion-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #fanion .fanion-wrapper .fanion-logo img {
    max-width: 400px;
    height: auto;
  }
  #word-of-president {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
    gap: 5em;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
  #word-of-president .president-bio {
    margin-bottom: 2em;
  }
  #word-of-president .president-bio .info {
    margin-bottom: 1.5em;
  }
  #word-of-president .president-bio .info h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.2rem;
    letter-spacing: 0.2px;
    margin-bottom: 0;
    color: #183b56;
  }
  #word-of-president .president-bio .info p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.2px;
    color: #183b56;
  }
  #word-of-president .word {
    padding-inline: 1.5em;
  }
  #word-of-president .word h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 4.5rem !important;
    color: #0050a2;
    margin-bottom: 1em !important;
  }
  #word-of-president .word p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem !important;
    letter-spacing: 0.2px;
    color: #7690a8;
    text-align: justify;
  }
  #don {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
  #important-date {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
    gap: 5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #important-date .admission-date {
    text-align: left !important;
  }
  #important-date .charte-date {
    text-align: end !important;
  }
  #mandats {
    width: 100%;
    max-width: 1200px;
    margin: 1em auto 5em;
  }
  #mandats .mandat-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 250px;
        grid-template-columns: 1fr 250px;
    gap: 5em;
    background: #0050a2;
    mix-blend-mode: multiply;
    border-radius: 16px;
    padding: 4em !important;
    margin-bottom: 2em;
    color: white;
  }
  #mandats .mandat-item .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #mandats .mandat-item .details .periode {
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.2px;
  }
  #mandats .mandat-item .details .theme {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;
    max-width: 60%;
    letter-spacing: 0.2px;
  }
  #mandats .mandat-item .details h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.2px;
    color: #f7a81b;
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin-inline: auto;
  }
  .header .logo {
    color: black;
  }
  .header .logo span {
    color: #cc041e;
  }
  .header nav {
    position: unset;
    color: #0c3c7c;
    background-color: unset;
    width: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: block;
  }
  .header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header nav ul li {
    color: #0c3c7c;
  }
  .header nav ul li:hover {
    background: #0050a2;
    border-radius: 8px;
    color: white;
  }
  .header nav .close svg {
    display: none;
  }
  .header .burger {
    display: none;
  }
  .certificat {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .certificat img {
    max-width: 700px !important;
  }
  main {
    color: black;
  }
  main .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5em;
  }
  main .down-arrow svg path {
    fill: #000;
    stroke: #000;
  }
  main .shoes-description .item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .shoes-description .item .description {
    text-align: right;
  }
  main .shoes-description .item img {
    height: 25em;
  }
  main .shoes-description .item.reversed {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "two one";
  }
  main .shoes-description .item.reversed .description {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: one;
    text-align: left;
  }
  main .shoes-description .item.reversed .shoe-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: two;
  }
  footer .footer-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
  footer .first-line {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 2fr 1fr;
        grid-template-columns: 2fr 2fr 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .second-line {
    max-width: 500px;
  }
  footer .copyright {
    margin-top: 1.5em;
  }
}
/*# sourceMappingURL=styles.css.map */