* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
    -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
    -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
    font-size: 10px !important;
}
html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    //font-family: inherit;
    font-size: 100%;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
input,
textarea,
select,
button {
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    border: none;
    background: none;
    color: inherit;
}
input:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type="submit"]:hover,
button:hover {
    cursor: pointer;
}
input::-ms-clear {
    display: none; /*─ IE11 → remove cross to close ─*/
}
textarea {
    overflow: auto; /*─ Hide scroll bar on IE ─*/
}
a {
    color: inherit;
    text-decoration: none !important;
}
img,
video,
svg,
picture {
    display: block;
}
img,
video {
    width: 100%;
    height: auto;
}
svg {
    width: 100%;
    height: 100%;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-group {
    display: flex;
    // justify-content: space-between;
    margin-top: 2.5em;
    margin-bottom: 2.5em;

    .btn:not(:last-child) {
        margin-right: 1em;
    }
}

.btn {
    padding: 1em 1.7em;
    border: 2px solid #0050a2;
    border-radius: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
}

.btn-primary {
    background: #0050a2;
    color: white;
}

body {
    font-family: "Raleway", sans-serif;
    background: #fff;
    width: 100vw !important;
    overflow-x: hidden !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    nav {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        height: 100%;
        width: 80vw;
        color: #0c3c7c;
        padding: 5em 0;
        z-index: 999;

        ul {
            li {
                font-size: 1.6rem;
                line-height: 1.6rem;
                cursor: pointer;
                padding: 0.5em;
                font-weight: bold;
                a {
                    color: #0c3c7c;
                }

                &:hover a {
                    color: white !important;
                }
            }

            li.active {
                background-color: #0050a2;

                border-radius: 10px;

                a {
                    color: white;
                }
            }
        }

        .close {
            svg {
                width: 3em;
                height: 3em;
                position: absolute;
                top: 0;
                right: 0;
                margin: 2em;
                cursor: pointer;
            }
        }
        transform: translateX(100%);
        display: none;

        transition: transform 500ms ease-in-out;
    }

    .open {
        display: block;
        transform: translateX(0);
        //
    }

    .burger {
        svg {
            width: 3em;
            height: 3em;
        }

        cursor: pointer;
    }
}

main {
    #banner {
        min-height: 85vh;

        .hero {
            padding-inline: 3em;
            .hero__desc {
                .title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 4.5rem !important;
                    line-height: 5rem;
                    letter-spacing: 0.2px;
                    color: #0050a2;
                }

                p {
                    margin-top: 1em;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.9rem;
                    line-height: 3.6rem;
                    color: #183b56;
                }

                cite {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }

            .hero__slide {
                img {
                    width: 100%;
                    max-height: auto;
                    object-fit: cover;
                }

                .uk-position-center-left {
                    background: #16133d;
                    border-radius: 5px;
                    left: -30px;
                    width: 34px !important;
                    height: 34px !important;
                }

                .uk-position-center-right {
                    background: #16133d;
                    border-radius: 5px;
                    right: -30px;
                    width: 34px !important;
                    height: 34px !important;
                }
            }
        }

        .district-section {
            display: block;
            //grid-template-columns: 1fr 1fr;

            background: #f7a81b;
            background-blend-mode: multiply;
            //padding: 1em;
            margin-top: 4em;

            .district-adress {
                padding: 1em 3em;
                h4 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 3rem;
                    line-height: 4rem;
                    letter-spacing: 0.2px;
                    color: #ffffff;
                    margin: 0.5em 0;
                }
                span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2rem;
                    line-height: 2.8rem;

                    text-transform: uppercase;
                    color: #ffffff;
                }

                p {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.5rem;
                    line-height: 3rem;
                    color: #ffffff;
                }
            }

            .become-member {
                background-image: url(../images/palmier.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-blend-mode: multiply;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 150px;
                a {
                    background: #ffffff;
                    box-shadow: 0px 0.718367px 33px rgba(0, 0, 0, 0.58);
                    border-radius: 5.74694px;
                    border: unset;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    text-align: center;
                    color: #0050a2;
                    padding: 0.5em 1em;
                }
            }
        }

        .mandat-logo {
            display: block;
            padding: 1em 3em;
            margin-block: 4em;

            p {
                font-style: normal;
                font-weight: 600;
                font-size: 2.8rem;
                line-height: 4.2rem;
                word-break: break-word;
                color: #0050a2;
                margin-bottom: 1em;
            }
        }
    }

    #fanion {
        background: #0c3c7c;
        padding: 3em;
        color: white;

        .fanion-desc {
            h2 {
                font-style: normal;
                font-weight: 600;
                font-size: 5rem !important;
                line-height: 5rem;
                letter-spacing: 0.2px;
                margin-bottom: 1em;
                color: white;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 3rem;
                text-align: justify;
                font-feature-settings: "salt" on, "liga" off;
            }
        }
    }

    #word-of-president {
        margin-block: 4em;
        padding: 3em;

        .president-bio {
            margin-bottom: 2em;
            .info {
                margin-bottom: 1.5em;
                h4 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.7rem;
                    line-height: 4.2rem;
                    letter-spacing: 0.2px;
                    margin-bottom: 0;
                    color: #183b56;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 3rem;
                    letter-spacing: 0.2px;

                    color: #183b56;
                }
            }
        }

        .word {
            h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 3.5rem;
                line-height: 4rem;
                color: #0050a2;
                margin-bottom: 1em !important;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 3.6rem;
                letter-spacing: 0.2px;
                color: #7690a8;
                text-align: justify;
            }
        }
    }

    .follow-us {
        background: #0050a2;
        font-style: normal;
        font-weight: 600;
        font-size: 3.5rem;
        line-height: 4rem;

        text-align: center;
        letter-spacing: 0.2px;

        color: #ffffff;
        padding: 1em;
        margin-bottom: 4em;
    }

    #don {
        padding: 3em;

        .card-body {
            padding-top: 2em !important;
            .event-date {
                font-style: normal;
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.5rem;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.87);

                opacity: 0.64;
                margin-top: 1em;
            }

            .theme {
                margin-top: 0.5em;
                font-style: normal;
                font-weight: 600;
                font-size: 2.5rem;
                line-height: 3rem;
                font-feature-settings: "liga" off;
                color: #0050a2;
            }

            .location {
                font-style: normal;
                font-weight: 400;
                font-size: 1.9rem;
                line-height: 2.4rem;
                color: #f7a81b;
                margin-top: 0.5em;
            }
        }

        .uk-position-center-left {
            background: #16133d;
            border-radius: 5px;
            left: -30px;
            width: 34px !important;
            height: 34px !important;
        }

        .uk-position-center-right {
            background: #16133d;
            border-radius: 5px;
            right: -30px;
            width: 34px !important;
            height: 34px !important;
        }

        .uk-dotnav > * > * {
            background: #d9dbe1;
            opacity: 0.6;
        }
        .uk-dotnav > .uk-active > * {
            background-color: #f7a81b;
            width: 16px;
            border-radius: 100px;
            border-color: transparent;
        }
    }

    /*
        Club page
    */

    #important-date {
        padding: 3em;
        .admission-date,
        .charte-date {
            text-align: center;
            h6 {
                font-style: normal;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 3rem;
                letter-spacing: 0.16478px;
                text-transform: uppercase;
                color: #f7a81b;
                margin-bottom: 0;
            }

            .date {
                font-style: normal;
                font-weight: 600;
                font-size: 4.4rem;
                line-height: 5rem;
                letter-spacing: 0.16478px;

                color: #0050a2;
            }
        }

        // .fanion img {
        //    max-height: 425px;
        //    aspect-ratio: 1/2;
        // }
    }

    .members {
        padding: 3em;
        text-align: center;
        h6 {
            font-style: normal;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 3rem;
            letter-spacing: 0.16478px;
            text-transform: uppercase;
            color: #f7a81b;
            margin-bottom: 0;
        }

        .date {
            font-style: normal;
            font-weight: 600;
            font-size: 4.4rem;
            line-height: 5rem;
            letter-spacing: 0.16478px;

            color: #0050a2;
        }
    }

    .certificat {
        padding: 3em;
    }

    .members-btn {
        // margin: 2em auto;
        padding: 3em;
        text-align: center;
        a {
            background: #0050a2;
            font-style: normal;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.9rem;
            /* identical to box height */

            color: #ffffff;
        }
    }

    #mandats {
        padding: 3em;

        .mandat-item {
            padding: 2em 1.5em;

            background: #0050a2;
            mix-blend-mode: multiply;
            border-radius: 16px;
            margin-bottom: 2em;

            color: white;

            .details {
                .periode {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 3rem;
                    line-height: 4rem;
                    letter-spacing: 0.2px;
                    margin-bottom: .5em;
                }
                .theme {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2.5rem;
                    line-height: 3rem;
                    letter-spacing: 0.2px;
                }

                h5 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.5rem;
                    line-height: 3rem;
                    letter-spacing: 0.2px;

                    color: #f7a81b;
                }
            }
        }
    }
}

footer {
    background: #0c3c7c;
    padding: 3em;

    .first-line {
        font-style: normal;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3.2rem;
        letter-spacing: 0.2px;

        color: #ffffff;

        text-align: center;

        div {
            margin-bottom: 0.5em;
        }
        .social-media {
            display: flex;
            justify-content: center;
            svg {
                width: 32px;
                height: 32px;
                margin-right: 0.5em;
            }
        }
    }

    .second-line {
        margin-top: 2.5em;
        margin-inline: auto;
    }
    .copyright {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6em;
        line-height: 2.8em;
        color: #efeef3;
        text-align: center;
        margin-top: 1em;
    }
}

// @media screen and (min-width: 630px) {
// }

@media screen and (min-width: 950px) {
    #banner {
        .hero {
            width: 100%;
            max-width: 1200px;
            margin-inline: auto;
            .hero__desc {
                .title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 4.5rem !important;
                    line-height: 5rem;
                    letter-spacing: 0.2px;
                    color: #0050a2;
                }

                p {
                    margin-top: 1em;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.9rem;
                    line-height: 3.6rem;
                    color: #183b56;
                }

                cite {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
        }

        .district-adress-wrapper {
            background: #f7a81b;
            padding-inline: 3em;

            .district-section {
                display: grid !important;
                grid-template-columns: 1fr 1fr;
                background-blend-mode: multiply;
                width: 100%;
                max-width: 1200px;
                margin-inline: auto;
                .district-adress {
                    h4 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 3.3rem;
                        line-height: 2.2rem;
                        letter-spacing: 0.2px;
                        color: #ffffff;
                        margin: 1em 0;
                    }
                    span {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 2rem;
                        line-height: 2.8rem;

                        text-transform: uppercase;
                        color: #ffffff;
                    }

                    p {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 2.5rem;
                        line-height: 3.8rem;
                        color: #ffffff;
                    }
                }

                .become-member {
                    background-image: url(../images/palmier.jpg);
                    background-blend-mode: multiply;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        background: #ffffff;
                        box-shadow: 0px 0.718367px 33px rgba(0, 0, 0, 0.58);
                        border-radius: 5.74694px;
                        border: unset;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        text-align: center;
                        color: #0050a2;
                        padding: 0.5em 1em;
                    }
                }
            }
        }

        .mandat-logo {
            padding-inline: 3em;
            display: grid !important;
            grid-template-columns: 1fr 2fr;
            gap: 5em;
            align-items: baseline;
            width: 100%;
            max-width: 1200px;
            margin-inline: auto;

            p {
                font-size: 3.4rem !important;
            }
        }
    }

    #fanion {
        .fanion-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5em;
            width: 100%;
            max-width: 1200px;
            margin-inline: auto;

            .fanion-desc {
                h2 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 4rem;
                    line-height: 5rem;
                    letter-spacing: 0.2px;
                    margin-bottom: 1em;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 3rem;
                    text-align: justify;
                    font-feature-settings: "salt" on, "liga" off;
                }
            }

            .fanion-logo {
                display: flex;
                justify-content: center;
                img {
                    max-width: 400px;
                    height: auto;
                }
            }
        }
    }

    #word-of-president {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 5em;
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;

        .president-bio {
            margin-bottom: 2em;
            .info {
                margin-bottom: 1.5em;
                h4 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 4.2rem;
                    letter-spacing: 0.2px;
                    margin-bottom: 0;
                    color: #183b56;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 3rem;
                    letter-spacing: 0.2px;

                    color: #183b56;
                }
            }
        }

        .word {
            padding-inline: 1.5em;
            h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 4.5rem !important;
                color: #0050a2;
                margin-bottom: 1em !important;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 3rem !important;
                letter-spacing: 0.2px;
                color: #7690a8;
                text-align: justify;
            }
        }
    }

    #don {
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;
    }

    #important-date {
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;

        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        gap: 5em;
        align-items: center;

        .admission-date {
            text-align: left !important;
        }
        .charte-date {
            text-align: end !important;
        }

        // .fanion img {
        //    max-height: 425px;
        //    aspect-ratio: 1/2;
        // }
    }

    #mandats {
        width: 100%;
        max-width: 1200px;
        margin: 1em auto 5em;

        .mandat-item {
            display: grid;
            grid-template-columns: 1fr 250px;
            gap: 5em;

            background: #0050a2;
            mix-blend-mode: multiply;
            border-radius: 16px;
            padding: 4em !important;
            margin-bottom: 2em;

            color: white;

            .details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .periode {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 4rem;
                    line-height: 5rem;
                    letter-spacing: 0.2px;
                    // margin-bottom: .8em;
                }
                .theme {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 3rem;
                    line-height: 4rem;
                    max-width: 60%;
                    letter-spacing: 0.2px;
                }

                h5 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 4rem;
                    letter-spacing: 0.2px;

                    color: #f7a81b;
                }
            }
        }
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        //justify-content: space-between;
        max-width: 1200px;
        margin-inline: auto;

        .logo {
            color: black;
            span {
                color: #cc041e;
            }
        }
        nav {
            position: unset;
            color: #0c3c7c;
            background-color: unset;
            width: auto;
            ul {
                display: flex;
                justify-content: space-evenly;
                li {
                    color: #0c3c7c;
                    //transition: all 0.3s ease-in;

                    &:hover {
                        background: #0050a2;
                        border-radius: 8px;
                        color: white;
                    }
                }
            }
            transform: translateX(0);

            .close {
                svg {
                    display: none;
                }
            }
            //transform: translateX(100%);
            display: block;
        }

        .burger {
            display: none;
        }
    }

    .certificat {
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        justify-content: center;

        img {
            max-width: 700px !important;
        }
    }

    main {
        color: black;

        .hero {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5em;
        }

        .down-arrow {
            svg {
                path {
                    fill: #000;
                    stroke: #000;
                }
            }
        }

        .shoes-description {
            .item {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5em;
                align-items: center;
                .description {
                    text-align: right;
                }

                img {
                    height: 25em;
                }
            }
            .item.reversed {
                display: grid;
                grid-template-areas: "two one";

                .description {
                    grid-area: one;
                    text-align: left;
                }
                .shoe-image {
                    grid-area: two;
                }
            }
        }
    }

    footer {
        .footer-wrapper {
            width: 100%;
            max-width: 1200px;
            margin-inline: auto;
        }
        .first-line {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr 1fr;
            align-items: center;
        }

        .second-line {
            max-width: 500px;
        }
        .copyright {
            margin-top: 1.5em;
        }
    }
}
